html {
    color: #b6235a;
    font: 18px "Iosevka Nerd Font";
    height: 100%;
}

body {
    background-color: #252525;
    padding: 200px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:focus,
a:hover {
    font-weight: bold;
}

ul, nav {
    list-style-type: none;
    margin: 5px;
    display: inline-block;
    text-align: center;
}

div {
    text-align: center;
	margin-left: -50px;
}

.center {
    text-align: center;
    margin-left: -25px;
    margin-bottom: 50px;
}

li {
	color: #d5d5d5;
}

input {
    background-color: unset;
    font: 16px "Iosevka Nerd Font";
    color: #d5d5d5;
    height: 100%;
    width: 100%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    border-bottom-color: #384149;
    text-align: center;
    margin-bottom: 50px;
}

